{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container mt-5 align-items-center justify-content-center text-center contact-size">
    <div class="row mt-5">
        <div class="col-12 my-auto ">
            <h3 class="intro">
                Contact:
            </h3>
            <h3 class="about-title intro display-4 logo-font contact-size">
                Do you have any questions or issues with your ticket?
            </h3>
            <p class="text-size contact-size">We are here to answer your questions 24 hours a day.</p>
            <img src="{{ MEDIA_URL }}img3.jpg" alt="A painting" class="img-fluid mt-4 mt-md-0">
            <h3 class="intro display-4 mt-2 contact-size">Write us, call us, send us a letter!</h3>
            <p class="text-size contact-size"><i class="fa-regular fa-envelope"></i> E-mail address: wherearewegoing.festivals@gmail.com</p>
            <p class="text-size contact-size"><i class="fa-brands fa-whatsapp"></i> WhatsApp Business: +34 684 095 474</p>

            <!--Contact Form:-->
            <form method="post">
                {% csrf_token %}
                {{ form.name.label_tag }} {{ form.name }}
                <br>
                {{ form.email.label_tag }} {{ form.email }}
                <br>
                {{ form.phone.label_tag }} {{ form.phone }}
                <br>
                {{ form.title.label_tag }} {{ form.title }}
                <br>
                {{ form.description.label_tag }} {{ form.description }}
                <br>
                {{ form.contact_method.label_tag }} {{ form.contact_method }}
                <br>
                <button type="submit">Enviar</button>
            </form>



            <a href="{% url 'festivals' %}" 
            class="detail-button btn rounded-pill">
                Return to shop
            </a>
        </div>
    </div>
</div>
{% endblock %}