{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-12 col-md-7 col-lg-6 my-auto">
            <h1 class="display-4 logo-font">
                The best events are here!!!
            </h1>
            <div class="my-4">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg btn-primary rounded-pill text-uppercase py-3">TICKETS</a>
                </h4>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 my-auto text-center">
            <img src="{% static '../media/img1.jpg' %}" alt="People in a festival" class="img-fluid mt-4 mt-md-0">
        </div>
    </div>
</div>
{% endblock %}