/*Google Fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*                 templates/base.html            */

/*Global style */

*, body{
    background: #000;
    color:white;
    font-family: 'Geologica', sans-serif;
}

/* Header */
input.form-control {
  margin-right: 15px;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

h4.logo-font.my-1{
  background-image: linear-gradient(
  305deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 23%,
  hsl(329deg 100% 36%) 34%,
  hsl(337deg 100% 43%) 45%,
  hsl(357deg 91% 59%) 57%,
  hsl(17deg 100% 59%) 68%,
  hsl(34deg 100% 53%) 79%,
  hsl(45deg 100% 50%) 90%,
  hsl(55deg 100% 50%) 100%
);
}

/*Button to go to the top of the web page*/
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-outline-black {
  background: white;
  color: black;
  border: 1px solid black;
}


.btt-link, .update-link, .remove-item  {
  cursor: pointer;
}

/*Card festival*/
.card-festival{
  background: white;
  color: black;
}

#card-border{
  border-radius: 20px;
  border-color: 10px solid white;
}

/*   Mobile navigation bar  */
.navbar-toggler {
  background-color: white;
  border: 1px solid transparent;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Toasts:templates/includes/toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 8px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*                 home/index.html            */

.intro{
  font-family: 'Bebas Neue', sans-serif;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
.container {
  max-width: 80%;
}
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
      padding-top: 116px;
  }

  body {
      height: calc(100vh - 116px);
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
  }

  .header-container {
      padding-top: 164px;
  }
}