<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-festivals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Festivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-festivals-link">
                <a href="{% url 'festivals' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'festivals' %}?sort=location&direction=asc" class="dropdown-item ">By Location</a>
                <a href="{% url 'festivals' %}?sort=date&direction=asc" class="dropdown-item ">By Date</a>
                <a href="{% url 'festivals' %}" class="dropdown-item">All Festivals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-link">
                <a href="{% url 'about_us' %}" class="dropdown-item">About us</a>
                <a href="" class="dropdown-item">Newsletter</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="help-centre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Help Centre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="help-centre-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
            </div>
        </li>
    </ul>
</div>

